 html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #000000, #1a0021, #20002a);
  background-repeat: no-repeat; 
  background-size: cover;  
  background-attachment: fixed;  
  font-family: sans-serif;
}



#root > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: gray;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: normal;
  transition: color 0.3s;
} 
.icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
 
  border-radius: 50%;
  font-size: 20px;
  color: aqua;
  text-decoration: none;
margin-left: 55px;

}
.icon p:hover{
  background:aqua 
 
}


.container{
  padding: 90px;
}

.service{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.service-list{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
grid-gap: 40px;
margin-top: 50px;
}
.sub-title{
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}
.service-list div{
  background:transparent ;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s transform 0.5s;
  box-shadow:1px 1px 20px #012250f7,
  1px 1px 40px #0053b8f7
}
.service-list div i{
  font-size: 50px;
  margin-bottom: 20px;
}
.service-list div h2{
 font-size: 30px;
 font-weight: 500;
 margin-bottom: 15px;
}

.div{
  display: flex;
  flex-wrap: wrap;
}



